
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Django</title>
    {% comment %} link  the css file {% endcomment %}
    <link rel="stylesheet" href="{% static 'style.css' %}">

    {% comment %} link the favicon {% endcomment %}

</head>
<body>
    
    {% comment %} About Page {% endcomment %}
    <div>
        <h1>About Django</h1>
        <p>Django is a high-level web framework for building web applications in Python. It is a free and open-source framework that follows the model-view-template (MVT) architectural pattern.</p>
        <p>Django is known for its simplicity, flexibility, and scalability. It is widely used by developers to build web applications of all sizes and complexity.</p>

        <h2>Why Learn Django?</h2>
        <p>Learning Django can be a great way to enhance your web development skills and build powerful web applications. Here are some reasons why you should learn Django:</p>


        {% comment %} Footer {% endcomment %}


        
    </div>
    
</body>
</html>