
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Django</title>
    {% comment %} link  the css file {% endcomment %}
    <link rel="stylesheet" href="{% static 'style.css' %}">

    {% comment %} link the favicon {% endcomment %}

</head>
<body>
    
    {% comment %} Service Page {% endcomment %}
    <div>
        <h1>Our Services</h1>
        <p>Learn Django is a web application that helps you learn Django by providing you with tutorials, articles, and other resources.</p>
        <p>It is a great way to learn Django and improve your skills.</p>

        <h2>Our Services</h2>
        <p>Our services include:</p>

        <ul>
            <li>Online tutorials and articles on Django</li>
            <li>Interactive coding exercises and quizzes</li>
            <li>Community forums and discussion boards</li>
            <li>Webinars and online events</li>
            <li>One-on-one mentoring and coaching</li>
        </ul>

        <h2>Why Choose Us?</h2>
        <p>Learn Django is the best place to learn Django because:</p>

        <ul>
            <li>We have a team of experienced Django developers and educators</li>
            <li>We offer a wide range of resources and services to help you learn Django</li>
            <li>We provide personalized support and guidance to help you succeed</li>
            <li>We are committed to helping you achieve your goals and improve your skills</li>
            <li>We have a strong and active community of learners and developers</li>
        </ul>

        <h2>Get Started Today!</h2>
        <p>Ready to start learning Django? Sign up for an account and get access to all our resources and services.</p>

       

       




      
     


        

        
    </div>
    
</body>
</html>